<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
		version="3.1">

	<servlet>
		<servlet-name>busDetails</servlet-name>
		<servlet-class>com.Bus.BusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>busDetails</servlet-name>
		<url-pattern>/bus</url-pattern>
		</servlet-mapping>
	<servlet>
		<servlet-name>BusInsert</servlet-name>
		<servlet-class>com.Bus.BusInsert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BusInsert</servlet-name>
		<url-pattern>/insert</url-pattern>
		</servlet-mapping>
		
		<servlet>
		<servlet-name>updateBus</servlet-name>
		<servlet-class>com.Bus.UpdateBusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateBus</servlet-name>
		<url-pattern>/update</url-pattern>
		</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteBus</servlet-name>
		<servlet-class>com.Bus.DeleteBusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteBus</servlet-name>
		<url-pattern>/delete</url-pattern>
		</servlet-mapping>
	<servlet>
		<servlet-name>viewCus</servlet-name>
		<servlet-class>com.Bus.UserViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewCus</servlet-name>
		<url-pattern>/userView</url-pattern>
		</servlet-mapping>
		<servlet>
		<servlet-name>deleteCus</servlet-name>
		<servlet-class>com.Bus.DeleteCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteCus</servlet-name>
		<url-pattern>/deleteCus</url-pattern>
		</servlet-mapping>
			<servlet>
		<servlet-name>viewBooking</servlet-name>
		<servlet-class>com.Bus.BookingViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewBooking</servlet-name>
		<url-pattern>/viewBooking</url-pattern>
		</servlet-mapping>
	
		<servlet>
		<servlet-name>deleteBooking</servlet-name>
		<servlet-class>com.Bus.DeleteBookingServelet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteBooking</servlet-name>
		<url-pattern>/deleteBooking</url-pattern>
		</servlet-mapping>
	

</web-app>